<ion-header>
  <ion-toolbar>
    <ion-title>
      Bluetooth Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p id="connectionStatus">Status: Disconnected</p>
  <ion-button id="button" expand="block" (click)="scan()">
    Connect to Beacon <ion-icon name="bluetooth"></ion-icon>
  </ion-button>
   <ion-list> 
    <div *ngFor="let device of devices">
      <h1>Found: {{ device.name || 'Unnamed' }} </h1>
      <br>
      <p>ID: {{ device.id }}</p>
    </div>  
    <ion-button (click)="sendTestData()">Send Testing Data</ion-button>
   </ion-list> 

   <div *ngIf="incr">
      <div *ngIf="incrTest">
          <ion-button expand="block" (click)="startIncr()" color="success">
              Increasing Test
            </ion-button>
       </div>
    
       <div *ngIf="incrTest == false">
          <ion-button expand="block" (click)="stopIncr()" color="success">
              Increasing Test
            </ion-button>
       </div>
   </div>
   

   <div *ngIf="decrTest">
      <ion-button expand="block" (click)="stopDecr()" color="warning">
          Decreasing Test
        </ion-button>
   </div>

   <p *ngIf="incr"> Increasing: {{ values / 10 }} Hz </p>
   <p *ngIf="decrTest">Decreasing: {{ values / 10 }} Hz</p>
  
   <p *ngIf="sessionEnded">Session Results: <br>
  Increasing: {{ incrTestResult / 10 }} Hz <br>
  Decreasing: {{ decrTestResult / 10 }} Hz
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>
