<ion-header>
  <ion-toolbar>
    <ion-title>
      Bluetooth Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="button" expand="block" (click)="scan()">
    Connect to Beacon <ion-icon name="bluetooth"></ion-icon>
  </ion-button>
   <ion-list> 
    <ion-button color="medium" *ngFor="let device of devices">
      <h2>{{ device.name || 'Unnamed' }}</h2>
      <br>
      <p>{{ device.id }}</p>
      <br>
      <p>RSSI: {{ device.rssi }}</p>
    </ion-button>  
    <ion-button (click)="sendTestData()">Send Testing Data</ion-button>
   </ion-list> 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>
